//  FONT

@import "~@fontsource/kanit/index.css";
 
 /* RESET */ 
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: #3a4749;
    font-family: "kanit";
  }